---
version: '3'
services:
  homeassistant:
    container_name: hass
    image: homeassistant/home-assistant
    # (host -> container)
    volumes:
      - ./hass-config:/config
    restart: unless-stopped
    network_mode: host
    depends_on:
      - mosquitto

  mosquitto:
    #build:
    #  context: ./mosquitto
    image: eclipse-mosquitto
    container_name: mosquitto
    restart: unless-stopped
    network_mode: host
    #ports:
    #  - "1883:1883"
    # (host -> container)
    volumes:
      - ./mosquitto/config:/mosquitto/config:rw
      - ./mosquitto/data:/mosquitto/data:rw
      - ./mosquitto/log:/mosquitto/log:rw
    environment:
      - TZ=America/New_York
